<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if @items.present? %>
  <iframe id="player" src="<%= player_path(@items.first.id) %>" frameborder="yes" width="600px" height="500px">
    フレームを表示できないブラウザへのメッセージ
  </iframe>
<% end %>

<div class="playlist">
  <% @items.each do |item| %>
    <p>
      <%= link_to item.given_title, "##{item.id}", remote: true, class: 'video' %>
    </p>
  <% end %>
</div>

<script type="text/javascript">
  function onNicoPlayerStatus(id, status){
    if(status == 'end'){
      var player = document.getElementById(id);
            player.ext_setPlayheadTime(0);
    }
  }
</script>
