<% if @items.present? %>
  <iframe id="player" src="<%= player_path(@items.first.id) %>" frameborder="yes" width="600px" height="500px">
    iframeの表示が行えません出来た
  </iframe>
<% end %>

<div class="playlist">
  <% @items.each do |item| %>
    <p>
      <%= link_to item.given_title, "##{item.id}", remote: true, class: 'video' %>
    </p>
  <% end %>
</div>
