<%= @item.external_player.html_safe %>

<a href="javascript:void(window.open('<%= @item.mylist_url %>', null, 'width=480, height=360, menubar=no, toolbar=no, scrollbars=yes'));">マイリスト</a>

<%= @item.detail_html.html_safe %>



<script type="text/javascript">
  function onNicoPlayerStatus(id, status){
    if(status == 'end'){
      // リピート
      //var player = document.getElementById(id);
      //player.ext_setPlayheadTime(0);
      // 次
      location.href = "/player/<%= @item.next.id %>" ;
    }
  }
</script>
